* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 10px 0;
    color: black;

}   
ul {
    padding: 0;
}       
li {
    padding: 10px;
    border: 1px solid black;
    margin: 5px 0;
    background-color: #f5ea5583;
    border-radius: 5px;
}

li:hover {
    background-color: #F2B90F;
    cursor: pointer;  
}

ol {
    margin: 20px 0;
    padding-left: 20px;
}
body {
    font-family: "Nosifer", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background: linear-gradient(to right, #F2D022, #F2B90F, #F29B30, #A6450D, #D95C14);
    padding: 150px;
}
dt {
    font-weight: bold;
    margin-top: 10px;
}